.idea/
*.iml

build/
**/build
out/
**/out
/captures
**/kotlin-js-store

.gradle

/local.properties

.DS_Store
.externalNativeBuild

/data/
**/*.log

docs/received_messages

keys.gradle


# Xcode
xcuserdata/
*.xcworkspace

*.ipa
*.dSYM.zip
*.dSYM

